<style>
   .login {
       max-width: 400px;
       margin: 80px auto;
       padding: 35px;
       background: black;
       border-radius: 15px;
       box-shadow: 0 5px 20px rgba(0,0,0,.15);
   }


   .login h1 {
       text-align: center;
       margin-bottom: 25px;
       color: white
   }


   .login label {
       display: block;
       margin-top: 15px;
       font-weight: bold;
   }


   .login input {
       width: 100%;
       padding: 12px;
       margin-top: 5px;
       border: 1px solid #ccc;
       border-radius: 8px;
       box-sizing: border-box;
   }


   .login button {
       width: 100%;
       padding: 12px;
       margin-top: 20px;
       background: #0d6efd;
       color: white;
       border: none;
       border-radius: 8px;
       cursor: pointer;
   }
</style>


<div class="login">


   <h1>Log in</h1>


   <form method="post">


       <input name="username" id="username" placeholder="Username" required>


<input type="password" name="password" id="password" placeholder="Password" required> id="password" required>


       <button type="submit">Login</button>


   </form>


</div>








